* {
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #ddd;
}

textarea{
  width:100%;
  border:none;
  outline:none;
  background-color: yellow;
  vertical-align: top;
  font-family : inherit;
  font-size   : 100%;
  height: 100%;
}
pre{
  background-color: #ddd;
  border: dashed 1px;
  padding: 1em;
  white-space: pre-wrap;
}
table{
  border: solid 1px;
}
td{
  border: solid 1px;
  padding: 0.3em;
}
span.braket{
  background-color: #ddf;
  color: blue;
  cursor: pointer;
}
span.bracket-icon{
  background-color: #99f;
  color: #99f;
  cursor: pointer;
  user-select: none;
}
h1 {
  background-color: #aaf;
  text-align: right;
}

ul.menu{
  display: flex;
  list-style-type: none;
}
ul.menu li{
  border: solid;
  padding: 0.1em;
  margin: 2px;
}

.invisible{
  font-size: 0px;
}
.hide{
  display: none;
}
.editor{
  margin: 1em;
  padding: 1em;
  background-color: white;
}
.for-copy{
  font-size: 0px;
  border:none;
}
.for-copy-inline{
  font-size: 0px;
  border:none;
  display:inline;
}
.no-select{
  user-select: none;
}

.block-type{
  font-size:small;
  border-radius: 5px;
  background-color: #363;
  padding:3px;
  color: white;
}
.block::after{
  content: "```";
  display: block;
}

.select{
  background-color: #ddf;
}

.focus textarea{
}
.line{
  display: flex;
  /*word-break: break-all;*/
}
.line .line-item{
  flex: 1;
}
.line div.container{
  width: 100%;
}
.popup{
  position: absolute;
  top:0px;
  left:0px;
  color: white;
}
.popup div{
  background-color: #000;
  border-radius: 3px;
}
.popup div.selected{
  background-color: #d00;
  border-radius: 3px;
}

.line textarea, .line .menupos, .line div.elm{
  font-size: 1em;
  min-height: 1.5em;
}
.h1-style textarea,.h1-style .menu-pos, .h1-style div.elm{
  font-size: 2em;
}
.h2-style textarea, .h2-style .menu-pos, .h2-style div.elm{
  font-size: 1.5em;
}
.h3-style textarea, .h3-style .menu-pos, .h3-style div.elm{
  font-size: 1.2em;
}
.list-style textarea, .list-style .menu-pos .list-style div.elm{
}
.list-style{
  display: flex;
}
.list-style::before{
  content: "-";
  font-weight: bold;
}
.list-indent-1{
  margin-left: 1em;
}
.list-indent-2{
  margin-left: 2em;
}
.list-indent-3{
  margin-left: 3em;
}
