* {
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #ddd;
}

textarea{
  width:100%;
  border:none;
  outline:none;
  background-color: yellow;
  vertical-align: top;
  font-family : inherit;
  font-size   : 100%;
  height: 100%;
}
pre{
  background-color: #ddd;
  border: dashed 1px;
  padding: 1em;
}
table{
  border: solid 1px;
}
td{
  border: solid 1px;
  padding: 0.3em;
}
.hide{
  display: none;
}
.editor{
  margin: 1em;
  padding: 1em;
  background-color: white;
}
.for-copy{
  font-size: 0px;
  border:none;
}
.for-copy-inline{
  font-size: 0px;
  border:none;
  display:inline;
}
.no-select{
  user-select: none;
}

.block::after{
  content: "```";
  display: block;
}

.focus textarea{
}
.line{
  display: flex;
}
.line .line-item{
  flex: 1;
}
.line textarea, .line div.elm{
  font-size: 1em;
  height: 1.5em;
}
.h1-style textarea, .h1-style div.elm{
  font-size: 2em;
}
.h2-style textarea, .h2-style div.elm{
  font-size: 1.5em;
}
.h3-style textarea, .h3-style div.elm{
  font-size: 1.2em;
}
.list-style textarea, .list-style div.elm{
}
.list-style{
  display: flex;
}
.list-style::before{
  content: "-";
  font-weight: bold;
}
.list-indent-1{
  margin-left: 1em;
}
.list-indent-2{
  margin-left: 2em;
}
.list-indent-3{
  margin-left: 3em;
}
